.web{
  display: flex;
  flex: 1;
  align-items: center;
}
.web-option{
  font-size: 40px;
  margin-right: 16px;
  font-weight: 700;
}
.web-option a{
  text-decoration: none;
  color: transparent;
	
	background: url(https://media.giphy.com/media/FPbnShq1h1IS5FQyPD/giphy.gif);
	background-size: contain;
	background-position: top left;
	-webkit-background-clip: text;
  font-family: "Great Vibes",cursive;
  display: flex;
  align-items: center;
}
.option-icon{
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.web-option:last-child{
  margin-right: 0px;
}