
 .wrapper {
  min-height: 100%;
  display: flex;
  padding: 50px 15px;
}
@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
 }
}
.card-form {
  max-width: 430px;
  width: 300%;
}
@media screen and (max-width: 576px) {
  .card-form {
    margin: 0 auto;
 }
}
.card-form__inner {
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.51);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
border: 1px solid rgba(255, 255, 255, 0.4);

 transition: transform 0.2s ease-out;
 will-change: transform;

  
  padding: 35px;
  padding-top: 180px;
}
.card-title{
 font-size: 26px;
color: darkred;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 500;
 margin-bottom: 5px;
}
.rating {
 color: darkorange;
}
.price{
 width: 100%;
}
.price .new-price {
 font-size: 15px;
 font-weight: bold;
 color:#8B0000 ;
}
.price .original-price {
 font-size: 14px;
 font-style: italic;
 opacity: .5;
}
@media screen and (max-width: 480px) {
  .card-form__inner {
    padding: 25px;
    padding-top: 165px;
 }
}
@media screen and (max-width: 360px) {
  .card-form__inner {
    padding: 15px;
    padding-top: 165px;
 }
}
.card-form__group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-form__group .card-input__input {
  flex: 1;
  margin-right: 15px;
}
.card-form__group .card-input__input:last-child {
  margin-right: 0;
}
button, button:focus {
 width: 100%;
 height: 55px;
 background: var(--primarycolor);
 border: none;
 border-radius: 5px;
 font-size: 22px;
 font-weight: 500;
 box-shadow: var(--shadow);
 font-family: "Great Vibes",cursive;
 font-size: 20px;
 font-weight: bold;
 transition: all 0.3s;
 background-color:darkgray;
 color:white;
}
button:hover {
 box-shadow: 0px 7px 30px rgba(248, 245, 80, 0.75);
 transform: translateY(-5px);
 border: 1px solid var(--blue);

}
button:active {
 transform: scale(0.9);
 box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
@media screen and (max-width: 480px) {
  .card-form__button {
    margin-top: 10px;
 }
}
.card-item {
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.51);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
border: 1px solid rgba(255, 255, 255, 0.72);
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item {
    max-width: 310px;
    height: 220px;
    width: 90%;
 }
}
@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
 }
}
.card-item.-active .card-item__side.-front {
  transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}
.card-item.-active .card-item__side.-back {
  transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}
.card-item__side {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
  transform-style: preserve-3d;
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  backface-visibility: hidden;
  height: 100%;
}
.card-item__side.-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  z-index: 2;
  padding: 0;
  height: 100%;
}
.card-item__side.-back .card-item__cover {
  transform: rotateY(-180deg);
}
.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-item__cover {
  height: 100%;
  background-color: #1c1d27;
  position: absolute;
  height: 100%;
  background-color: #1c1d27;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.card-item__cover:hover{
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);

}
.card-item__cover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 2, 29, 0.45);
}
.card-list {
  margin-bottom: -130px;
}
@media screen and (max-width: 480px) {
  .card-list {
    margin-bottom: -120px;
 }
}
.card-description p{
  font-weight: bold;
}
